<tr>
  <th><%= competitor_counter + 1 %></th>
  <td><%= competitor.name %></td>
  <td><%= competitor.catches.for_competition(competition).count %></td>
  <td>
    <%= render partial:'catch',
               object: competitor.catches.for_competition(competition).recent.first %>
  </td>
</tr>
