<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= competition.name %></h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <th></th>
        <th>Competitor</th>
        <th>Catches</th>
        <th>Last catch made</th>
      </thead>
      <tbody>
        <%= render partial: 'competitor', collection: competition.competitors %>
      </tbody>
    </table>
  </div>
</div>
