<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= competition.name %></h3>
  </div>
  <div class="panel-body">
    <p class="lead">
      <%= time_ago_in_words competition.begins_at %>
      Began on <%= (competition.ends_at - competition.begins_at)/1.day  %>
    </p>

    <table class="table">
      <thead>
        <th></th>
        <th>Competitor</th>
        <th>Catches</th>
        <th>Last catch made</th>
      </thead>
      <tbody>
        <%= render partial: 'competitor', collection: competition.users %>
      </tbody>
    </table>
  </div>
</div>
