<div class="col-xs-12">
  <article class="article">
    <header role="heading">
      <h1 class="page-header" itemprop="name">
        <%=t 'page.leaderboard.index.title' %>
      </h1>
    </header>
  </article>
