#-- Generic
*~
*.DS_Store
*.swp
*.out
*.log
Thumbs.db

#-- Rails
*.rbc
capybara-*.html
/log
/tmp
/db/*.sqlite3
/public/system
/coverage
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

#-- Sidekiq
dump.rdb

#-- Bundler
/.bundle
/vendor/bundle

#-- Ruby version manager (RVM)
.rvmrc

#-- Foreman
.env
