<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header" itemprop="name">
      Editing competition
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <%= render 'form' %>
  </div>
  <div class="col-md-3">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">
          Delete competition
        </h3>
      </div>
      <div class="panel-body">
        <p class="small help-block">
          if you delete this compeition, all data associated with it is going as well.
        </p>
        <%= link_to t('generic.term.delete'),
                    @competition,
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Show', @competition %> |
    <%= link_to 'Back', competitions_path %>
  </div>
</div>
