<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb hidden-xs">
      <li><%= link_to 'Competitions', competitions_path %></li>
      <li class="active"><%= link_to 'New', new_competition_path(@competition) %></li>
    </ol>
    <h1 class="page-header" itemprop="name">
      <%=t 'page.competition.new.title' %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'form' %>
  </div>
</div>
