<article class="article">
  <header role="heading">
    <h1 class="page-header" itemprop="name"><%=t 'page.competition.new.title' %></h1>
  </header>
  <%= render 'form' %>
  <footer>
    <p>
      <%= link_to 'Back', competitions_path %>
    </p>
  </footer>
</article>
