<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header" itemprop="name">
      <%=t 'page.competition.new.title' %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'form' %>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <p>
      <%= link_to 'Back', competitions_path %>
    </p>
  </div>
</div>
