<tr data-species="<%= catch.species.dasherize.downcase %>">
  <td><%= link_to catch.species, catch %></td>
  <td><%= catch.bait_used %></td>
  <td><%= time_ago_in_words catch.caught_at %> ago</td>
</tr>
