<h1>You're invited</h1>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<%= render 'shared/mailer/callout',
            content: t("devise.mailer.invitation_instructions.ignore").html_safe
            %>

<%= render 'shared/mailer/button',
            title: 'Accept',
            url: accept_invitation_url(@resource, invitation_token: @token) %>
