<h1>Hi <%= @resource.name %>!</h1>

<p>
  Someone has requested a link to change your password.
</p>
<p>
  Click on the button at the end of this email to be taken to a page where your
  can reset your password.
</p>

<% content_for :callout do %>
  <p>
    Your password won't change until you access the link below and create a new
    one. If you don't want to change your password, then ignore this email
  </p>
<% end %>

<%= render 'shared/mailer/callout' %>

<%= render 'shared/mailer/button',
            title: 'Change my password',
            url: edit_password_url(@resource, reset_password_token: @token) %>
